pkgbase = lighthouse-ethereum
	pkgdesc = Ethereum 2.0 client
	pkgver = 5.1.3
	pkgrel = 2
	url = https://lighthouse.sigmaprime.io/
	arch = x86_64
	arch = aarch64
	license = Apache License 2.0
	makedepends = cargo
	makedepends = cmake
	makedepends = clang
	makedepends = protobuf
	depends = openssl
	source = git+https://github.com/sigp/lighthouse.git#tag=v5.1.3
	sha256sums = SKIP

pkgname = lighthouse-ethereum
